<h2>Games Dashboard for <%= @user.email %>
</h2>

<div class="col-md-12">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Game No.</th>
        <th>throws</th>
        <th>Frame 1</th>
        <th>Frame 2</th>
        <th>Frame 3</th>
        <th>Frame 4</th>
        <th>Frame 5</th>
        <th>Frame 6</th>
        <th>Frame 7</th>
        <th>Frame 8</th>
        <th>Frame 9</th>
        <th>Frame 10</th>
        <th>Final</th>
        <th>Comments</th>
      </tr>
    </thead>

    <tbody>
      <% @user.games.each do |game| %>
      <tr>
          <td>
            <%= game.id %>
          </td>
          <td>
            1st
            2nd
            total
          </td>
          <td><%= game.scorecard[0][0] %><br/>
            <%= game.scorecard[0][1] %><br/>
            <%= game.frame_score(1) %><br/>
            </td>
          <td><%= game.scorecard[1][0] %><br/>
            <%= game.scorecard[1][1] %><br/>
            <%= game.frame_score(2) %><br/>
            </td>
          <td><%= game.scorecard[2][0] %><br/>
            <%= game.scorecard[2][1] %><br/>
            <%= game.frame_score(3) %><br/>
            </td>
          <td><%= game.scorecard[3][0] %><br/>
            <%= game.scorecard[3][1] %><br/>
            <%= game.frame_score(4) %><br/>
            </td>
          <td><%= game.scorecard[4][0] %><br/>
            <%= game.scorecard[4][1] %><br/>
            <%= game.frame_score(5) %><br/>
            </td>
          <td><%= game.scorecard[5][0] %><br/>
            <%= game.scorecard[5][1] %><br/>
            <%= game.frame_score(6) %><br/>
            </td>
          <td><%= game.scorecard[6][0] %><br/>
            <%= game.scorecard[6][1] %><br/>
            <%= game.frame_score(7) %><br/>
            </td>
          <td><%= game.scorecard[7][0] %><br/>
            <%= game.scorecard[7][1] %><br/>
            <%= game.frame_score(8) %><br/>
            </td>
          <td><%= game.scorecard[8][0] %><br/>
            <%= game.scorecard[8][1] %><br/>
            <%= game.frame_score(9) %><br/>
            </td>
          <td><%= game.scorecard[9][0] %><br/>
            <%= game.scorecard[9][1] %><br/>
            <%= game.scorecard[9][2] %><br/>
            <%= game.frame_score(10) %><br/>
            </td>

      </tr>
      <% end %>
    </tbody>
  </table>
</div>
