<h1>Games#new</h1>
<h2>Create a new Game Scorecard</h2>

<div class="col-sm-10">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Throw</th>
        <th>Frame 1</th>
        <th>Frame 2</th>
        <th>Frame 3</th>
        <th>Frame 4</th>
        <th>Frame 5</th>
        <th>Frame 6</th>
        <th>Frame 7</th>
        <th>Frame 8</th>
        <th>Frame 9</th>
        <th>Frame 10</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          1st
          2nd
        </td>

        <%= form_tag(games_path, method: "POST") %>
          <td><%= text_field_tag(:frame_1a, nil, class: "input-mini") %>
            <%= text_field_tag(:frame_1b, nil, class: "input-mini") %>   </td>

          <td><%= text_field_tag(:frame_2a) %>
          <%= text_field_tag(:frame_2b) %>      </td>
          <td><%= text_field_tag(:frame_3a) %>
          <%= text_field_tag(:frame_3b) %>      </td>
          <td><%= text_field_tag(:frame_4a) %>
          <%= text_field_tag(:frame_4b) %>      </td>
          <td><%= text_field_tag(:frame_5a) %>
          <%= text_field_tag(:frame_5b) %>      </td>
          <td><%= text_field_tag(:frame_6a) %>
          <%= text_field_tag(:frame_6b) %>      </td>
          <td><%= text_field_tag(:frame_7a) %>
          <%= text_field_tag(:frame_7b) %>      </td>
          <td><%= text_field_tag(:frame_8a) %>
          <%= text_field_tag(:frame_8b) %>      </td>
          <td><%= text_field_tag(:frame_9a) %>
          <%= text_field_tag(:frame_9b) %>      </td>
          <td><%= text_field_tag(:frame_10a) %>
          <%= text_field_tag(:frame_10b) %>
          <%= text_field_tag(:frame_10c) %>      </td>

      </tr>

    </tbody>
  </table>
  <%= hidden_field_tag(:user_id) %>
<%= label_tag(:comment) %>
<%= text_field_tag(:comment) %>

<%= submit_tag "Create Score Card" %>
</div>
